//colors
$primary: rgb(38, 113, 197);
$secondary: rgb(197, 115, 38);
$grey: #efefef;
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-family-heading: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
