@import "../settings.scss";

header {
  font-family: $font-family;
  background: $primary;
  color: #fff;
  margin-top: 0;
  padding: 15px;
  text-transform: uppercase;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;

  h1 {
    display: inline-block;
    margin: 0;
    text-shadow: -2px -1px 0 darken($secondary, 5%), -3px -2px 0 lighten($secondary, 20%);
    transition: 0.4s all;

    &:hover {
      text-shadow: -1px 0 0 darken($secondary, 15%), -2px -1px 0 lighten($secondary, 10%);
    }
  }
}
