@import "../settings.scss";

header {
  font-family: $font-family;
  background: $primary;
  color: #fff;
  margin-top: 0;
  padding: 15px;
  text-transform: uppercase;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;

  h1 {
    margin: 0;
    text-shadow: -3px -2px 0 darken($secondary, 5%);
  }
}
