@import "../settings";

.grid-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 175px 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

p {
  margin-top: 0;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
}


main {
  padding: 30px;
}
